<VirtualHost *:80>
	ServerAdmin <%= account.email %>
    ServerName  <%= service.domain %>

	DocumentRoot <%= service.home %>

	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>

    <Directory <%= service.home %>>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/<%= account.uid %>.<%= service.sid %>.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/<%= account.uid %>.<%= service.sid %>.log combined

</VirtualHost>
