h1 Apps
// Put controls into this div
.page
    .loading

.alert-message.block-message.info
    h3 Create new application
    form.create(method="post", action="/api/create/app")
        .clearfix
            label Source URL 
            .input
                input.required.url.span12(type="text",name="url")
                span.help-block GIT repository to get application source
        .clearfix
            input.btn.primary.create-submit(type="submit", value="Create App")

// Module script
!= js('/js/app.js')

// Below is client-side _.templates (use <% %>!)
// Items list
script.list-template(type="text/template")
    table.bordered-table.zebra-striped
        thead
            tr
                th.state App
                th.domain Domain
                th.worker Services
                th.control &nbsp; 
        tbody
            <% _.each(items, function(item) { %>
            tr
                td.state
                    .state-icon
                        a(href="#", title="<%=item.state%>: <%=item.message%>")
                            img(src="state-<%=item.state%>.png")
                            .state-hole <%= item.workers && item.workers.length || 0 %>
                    .state-info
                        h3 <%=item.name%>
                        span <%= item.message %> 
                td.domain
                    h3
                        a(href="http://<%= item.domain %>",target="_new") <%=item.domain%>
                td.worker
                    ul.state-list
                        <% _.each(item._children, function(child) { %>
                        li
                            .state-icon-small
                                img(src="state-<%=child.state%>.png")
                                input(type="checkbox",name="service", value="<%= child.id %>", checked="true")
                            .state-info-small <%= child.id %>
                        <% }); %>
                td.control
                    <% if(item.state != "up") { %>
                    img.btn.command(src="command-start.png",data-id="<%=item.id%>",data-command="startup")
                    <% } if(item.state != "down") { %>
                    img.btn.command(src="command-stop.png",data-id="<%=item.id%>",data-command="shutdown")
                    <% } %>
            <% }); %>

// Instances list
script.instances-template(type="text/template")
    ul.state-list
        <%  if(_.isEmpty(items)) { %>
        li
            a.important(href="/instance") Click here to register server(s)
        <% } %>
        <% _.each(items, function(item) { %>
        li
            .state-icon-small
                img(src="state-<%=item.state%>.png")
                input.required(type="checkbox",name="instance", value="<%= item.id %>")
            .state-info-small <%= item.address %>
        <% }); %>

  
// Start dialog
script.startup-template(type="text/template")
    .startup.modal.hide.fade
        .modal-header
            a.close(href="#") × 
            h3 Start App
        form.modal-body
            .clearfix
                label Domain Name
                .input
                    input.required.domain(type="text",name="domain",value="<%= item.domain%>")
                    span.help-block Select domain name for this service
            .clearfix
                label Server to run
                .input
                    #items
                    span.help-block Server(s) to run app on. If more then one server selected, load balancing will be performed.
        .modal-footer
            a.btn.primary.execute(href="#") Start App
            a.btn.secondary.cancel(href="#") Cancel

// Stop dialog
script.shutdown-template(type="text/template")
    .modal.hide.fade
        .modal-header
            a.close(href="#") × 
            h3 Stop App
        form.modal-body
            .clearfix
                label App Data
                .input
                    ul.inputs-list
                        li
                            label
                                input(type="radio", checked="true", name="data", value="keep")
                                b Keep application data
                                span.help-block You can restart application later
                        li
                            label
                                input(type="radio", name="data", value="delete")
                                span.red Complete delete all application data
                                span.help-block This cannot be undone! Use this with caution.
        .modal-footer
            a.btn.primary.execute(href="#") Stop App
            a.btn.secondary.cancel(href="#") Cancel

