!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title CloudPub
    meta(name='description', content='Annihilatr Control Panel')
    meta(name='author', content='Anton Ermak')
    // if lt IE 9
        script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    // Javascript
    != js('/js/jquery.js')
    != js('/js/jquery.form.js')
    != js('/js/jquery.validate.js')
    != js('/js/jquery.tablesorter.min.js')
    != js('/js/bootstrap-modal.js')
    != js('/js/bootstrap-alerts.js')
    != js('/js/bootstrap-buttons.js')
    != js('/js/bootstrap-twipsy.js')
    != js('/js/bootstrap-popover.js')
    != js('/js/bootstrap-tabs.js')
    != js('/js/underscore.js')
    != js('/js/underscore-template-autoescape.js')
    - if(session.uid)
        script(src='/socket.io/socket.io.js')
        script(src='/ZeroClipboard.js')
    != js('/js/main.js')
    // CSS
    != css('/css/bootstrap.css')
    != css('/css/app.css')

    // Google Analytics
    script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17946320-6']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    .topbar
      .fill
        .container.fixed
          h3
            a(href='/')
                span(style="color: lightgreen;") Cloud
                span(style="color: red;") Pub
                img(src="/logo.png", style="height: 20px; width: 20px;")
          ul#nav
            - if(!session.uid)
              li.menu-item#nav-register
                a(href='/register')
                  span Register
               li.menu-item#nav-login
                a(href='/login')
                  span Login
            - else
              li
                a(href='/instance') Servers
              li
                a(href='/service') Services
              li
                a(href='/account') Account
              li
                a(href='/logout')
                    span Logout

  #masthead
    .inner
      h1 &nbsp;
  #body.container
    .alerts
    != body

  - if(typeof(error) !== 'undefined' && error)
    script $(function(){ error("#{error}") })
