form#login-form(action="/login",method="post")
    input(type="hidden", name="next", value=next)
    fieldset
        legend Login
        .clearfix
            label E-Mail 
            .input
                input.required.email(type="text",name="email")
                span.help-block User name of your account
        .clearfix
            label Password
            .input
                input.required#password(type="password",name="password")
                span.help-block Account password
        .actions
            input.btn.primary(type="submit",value="Login")
        .actions
            a.btn(href="/google/login")
                img(src="/google.png",width="32",height="32",style="vertical-align: middle;")
                span &nbsp; Login with Google account

!= js("/js/login.js")
