.main-page
    .facts
        h1 
            span What is 
            span(style="color: green;") Cloud
            span(style="color: darkred;") Pub
            img(src="/logo.png", width="50")
            span ?
        h2 This is distributed cloud platform
            ul
                li
                    a.fact(href="/services") Select applications
                li 
                    a.fact(href="/instances") Register servers
                li 
                    a.fact(href="/services") Run applications on servers in one click
                li 
                    a.fact(href="/instances") Grow and scale
    .demos
            a.enter(href="/services")
                img(src='/command-start-big.png')
                h2 &nbsp;Start!
