.main-page
    .facts
        h1 What is CloudPub?
        ul
            li Run WEB application in seconds 
            li Use your own or our domains
            li Store data on S3 storage
            li Autoscale computing resources
    .demos
        .subbox
            h2 See demo apps
            ul
                li.c3
                    a(href="http://demo",target="top") PHP site 
                li.c1
                    a(href="http://demo",target="top") NodeJS site
                li
                    hr
                    a(href="/services/add") Submit your app &gt;&gt;
            a.enter(href="/services")
                img(src='/command-start-big.png')
                h2 &nbsp;Enter
