.main-page
    .hero-unit
        h1 
            span(style="color: green;") Cloud
            span(style="color: darkred;") Pub
            img(src="/logo.png", width="50")
        p The easy cloud management service
    .facts
            ul
                li 
                    a.fact(href="/instance") 1. Add servers
                li
                    a.fact(href="/app") 2. Select applications
                li 
                    a.fact(href="/service") 3. Run applications on servers in one click
                li 
                    a.fact(href="/instance") 4. Grow and scale
    .demos
            a.enter(href="/service")
                img(src='/command-start-big.png')
                h2 &nbsp;Start!

a(href="https://github.com/ermakus/cloudpub")
    img(style="position: absolute; top: 40px; right: 0; border: 0;",src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67",alt="Fork me on GitHub")

