form#register-form(action="/register",method="post")
    fieldset
        legend Create Account
        input(type="hidden", name="next", value=next)
        .clearfix
            label User Name 
            .input
                input.required(type="text",name="uid")
                span.help-block Unique user name for your account
        .clearfix
            label E-Mail
            .input
                input.required.email(type="text",name="email")
                span.help-block Account administrator E-Mail address
        .clearfix 
            label Password
            .input
                input.required#password(type="password",name="password")
                span.help-block Account password
        .clearfix
            label Repeat Password
            .input
                input.required(equalto="#password", type="password",name="password2")
                span.help-block Reepat password one more time
        .actions
            input.btn.primary(type="submit",value="Create")
        .actions
            a.btn(href="/google/login")
                img(src="/google.png",width="32",height="32",style="vertical-align: middle;")
                span &nbsp; Register with Google account

!= js("/js/register.js")
