@import 'nib'
@import 'main'
@import 'service'

.red
    color red

.loading
    height 100px
    width 100px
    margin 0 auto
    background-image url(/loading.gif)

#clip-button
    margin-top 10px
    text-decoration underline
    color black
    text-align center
