@import 'nib'

.main-page
    width 100%
    margin-top 20px
    padding 50px

.demos
    margin-top 120px
    float right
    width 30%

.facts
    width 70%
    float left

a.enter
    display block
    margin 0 auto
    width 200px
    background-color #88F 
    height 200px
    border-radius 100px
    border solid #CCC 2px

a.enter:hover
    background-color green
    text-decoration none

a.enter h2
    color white

a.enter:hover h2
    color black

a.enter img
    display block
    margin 0 auto
    text-align center
    padding 35px
    padding-left 75px
    width 128px
    height 128px

a.enter h2
    position relative
    top -120px
    left 10px

.facts h1, .facts h2
    text-align center

.facts ul
    list-style none
    padding 0
    margin 0

a.fact
    margin 5px
    border solid #EEE 1px
    border-radius 4px
    padding 15px
    background-color whiteSmoke
    font-size 25px
    font-weight bold
    color #333
    display block
    color black

a.fact:hover
    color black
    background-color #88F
    text-decoration none
