#account-form, #register-form, #login-form
    width 600px
    margin 0 auto
    margin-top 50px
    border solid gray 2px
    border-radius 25px
    padding 25px
    background-color whiteSmoke

td
    vertical-align middle !important
    text-align center

.megabutton
    clear both

.control
    width 200px
    text-align center

.command img
    padding 0px
    display block

.service
    width 200px

.service img
    width 48px
    height 48px
    float left

.service h3
    padding 5px
    position relative
    top -10px
    left 10px

.state-down
    background-color #FAA

.state-up
    background-color #AFA

.state-maintain
    background-color #FFA

.state-list
    margin 0
    padding 0

.state-list li
    height 24px
    margin 2px
    list-style none
    clear both

.state-icon-small
    height 24px
    width 24px
    float left

.state-icon-small img
    height 24px
    width 24px

.state-icon-small input
    position relative
    top -27px
    left 4px
    height 17px
    width 17px

.state-info-small
    height 24px
    float left
    padding-left 5px
    padding-top 2px   
    max-width 200px
    overflow ellipsis

.state-info-small label
    padding 0
    margin 0
    text-align left
 
.state-icon
    height 48px
    width 48px
    float left

.state-icon a, .state-icon a:hover
    text-decoration none
    color black

.state
    white-space nowrap
    max-width 300px
    overflow hidden

.state-hole
    position relative 
    display block
    background-color transparent
    top -40px
    left 12px
    width 24px
    height 24px
    z-index 1
    font-size 18px
    font-weight bold
    text-align center
    padding-top 2px

.state-info
    float left
    margin-left 7px
    max-width 230px

.item, .message
    margin-left 60px
    display block

.item
    font-size 20px
    margin-bottom 5px

# Small status

img.state
    position relative
    left -25px
    top -3px
    width 24px
    height 24px
    vertical-align middle

.state-label
    position relative
    height 24px
    left -20px
    font-weight bold

.state-checkbox
    position relative
    z-index 9999

